.contenedorFormulario {
    background-color: #D4DBE1;
    max-width: 70vw;
    /* max-width: 70vw; */

}

.contenedorAbuelo {
    display: flex;
    width: 82%;
    float: right;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 10‒;
    margin-top: 127px;
}


form {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}